body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    margin:0;
}

header{
    background:#2b7a78;
    color:white;
    padding:20px;
    text-align:center;
}

main{
    padding:20px;
}

button{
    cursor:pointer;
}

#novoPaciente{
    padding:12px 20px;
    font-size:16px;
}

.card{
    background:white;
    padding:15px;
    margin-top:15px;
    border-radius:8px;
    box-shadow:0 0 8px rgba(0,0,0,.15);
}

.modal{

    display:none;

    position:fixed;

    left:0;

    top:0;

    width:100%;

    height:100%;

    background:rgba(0,0,0,.5);

    justify-content:center;

    align-items:center;

}

.modal-content{

    background:white;

    width:400px;

    padding:20px;

    border-radius:10px;

}

.modal-content input,

.modal-content select{

    width:100%;

    padding:10px;

    margin-bottom:10px;

}

.fechar{

    float:right;

    font-size:25px;

    cursor:pointer;

}